<div>
	<ion-item class="bottom-padding">
		<ion-avatar item-start>
	      <img *ngIf="!loading" src="{{user.picture}}">
	    </ion-avatar>
		<h4 *ngIf="!loading" class="username">{{ user.username }}</h4>
		<p>(Add location here...)</p>
	</ion-item>

	<div *ngIf='type_id == 1'>
		<button ion-button clear>Type id of 1</button>
	</div>

	<div *ngIf='type_id == 2'>
		<feed-image-preview object-id="{{ object_id }}"></feed-image-preview>
	</div>


	<div class="below-pic">
		<div class="interactions">
			<ion-icon name="heart-outline" (click)="clickLike()" id="heart"></ion-icon>
			<ion-icon name="ios-chatbubbles-outline"></ion-icon>
		</div>

		<div>
			<p>This is a comment!</p>
			<p>This is another comment right below it</p>
			<p>This is the most recent comment, fill me in from the database</p>
		</div>
	</div>


</div>
